extends ./layout.jade 

block content
  nav(ng-controller='NavCtrl').navbar.navbar-default
    nav.navbar-header
      .container-fluid
        a.navbar-brand(href='#') Social Game
    div(ng-if='isAuthenticated()')
      ul.nav.navbar-nav
        li
        li
      form.navbar-form.navbar-left(role='logout')
        .form-group
          button.btn.btn-default(ng-click='logout()') Logout
  ui-view
