doctype html 
hmtl(lang='en')
  head 
    meta(charset='UTF-8')

    title Social Login 

    link(href="vendor/bootstrap/dist/css/bootstrap.min.css" rel='stylesheet')
    link(href="vendor/font-awesome/css/font-awesome.min.css" rel='stylesheet')
    link(href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel='stylesheet')
    link(href='css/style.css' rel='stylesheet')
  body(ng-app='MyApp') 
    block content 
    script(src="vendor/jquery/dist/jquery.min.js")
    script(src="vendor/angular/angular.min.js")
    script(src="vendor/angular-ui-router/release/angular-ui-router.min.js")
    script(src="vendor/socket.io-client/socket.io.js")
    script(src="vendor/angular-socket-io/socket.min.js")
    script(src="vendor/satellizer/satellizer.min.js")
    script(src='js/module.js')
    script(src='js/controllers/login.js')
    script(src='js/controllers/main.js')
    script(src='js/controllers/home.js')
    block scripts
