#userImage {
  max-width: 100px;
} 

.gameboard {
  /*border: 1px solid red;*/
  font-size: 0;
}

.square {
  /*border: 1px solid black;*/
  background: green;
  height: 40px;
  width: 40px;
  display: inline-block;
}


/*   GAME ITEM TYPES  */
.player {
  background-color: white;
}
.me {
  background-color: red;
}
.coin {
  background-color: yellow;
}
